.category {
  padding: 100px 80px;
  max-width: 1440px;
  /* width: 100%; */
  margin: 0 auto;
}

.categoryTitle {
  font-family: 'Open Sans Hebrew', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #100f0f;
  padding-bottom: 24px;
  margin: 0 auto;
}

.categoryList {
  display: flex;
  flex-direction: row;
  gap: 18px;
  flex-wrap: wrap;
}

.categoryItem {
  border: 0.5px solid #f880c8;
  border-radius: 12px;
  padding: 8px;
  min-width: 97px;
  height: 26px;
  font-family: 'Open Sans Hebrew', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--text-colors-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryItemLink {
  text-decoration: none;
  color: var(--text-colors-black);
}

.categoryItemLink:hover,
.categoryItemLinkActive {
  color: #fcfcfc;
}

.categoryItem:hover,
.categoryItemActive {
  background-color: #ffc9ea;
  border: none;
}

.categoryItemTitle {
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .category {
    padding: 80px 40px;
  }
}

@media screen and (max-width: 767px) {
  .category {
    padding: 68px 20px;
  }
  .categoryTitle {
    font-size: 24px;
  }
}
